extends layout

block content
  h1= title
  form(name='login', method='post', action='/users/new')
      p Enter your name:
        br
        input(type='text', name='username')
      p
        input(type='submit', name='postform', value='Start Tweeting!')
